<html>
<body>
  <div id=backgroundColorTopic>
      <h2  align=middle><b>Reset Password</b></h2>
    </div>
    

<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">

      <br>
      <p class="para4">Please enter your email address to request a password reset.</p>
       
      <br>
      <div class="formGroup"  align=middle>
        <b><label for="phone">Enter your email</label></b>
          <br>
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <br><br>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup"  align=middle>
        <input type="submit" class="buttonforgotpasword" value="Reset Password">
      </div>
    </div>
    <br><br>
    <div class="redirectToLogin"  align=middle>
      <span>Go back to ? <b> <span class="redirect" routerLink="/sign-in">Log In</span></b></span>
    </div>

  </div>

  <br><br><br> <br><br><br> <br><br><br> <br><br>
</div>

</body>
</html>