<body>
  <div id=backgroundColorTopic>
      <h2  align=middle><b>Sign In</b></h2>
    </div>
    
  

<div class="displayTable" align='middle'>
    <div class="displayTableCell">
  
      <div class="authBlock">
        <br> <br> <br>

        <div class="formGroup">
          <br><br>
          <b><label for="phone">Enter your email</label></b><br>
          <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
        </div>
  
        <div class="formGroup">
          <br><br>
          <b><label for="phone">Enter your password</label></b><br>
          <input type="password" class="formControl" placeholder="Password" #userPwd required>
        </div>
  
      <br><br><br>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup">
          <input type="button" class="buttonSignin" value="Log in" (click)="authService.SignIn(userEmail.value, userPwd.value)">
        </div>
  
        <!--
        <div class="formGroup">
          <span class="or"><span class="orInner">Or</span></span>
        </div>

      -->
  
        <!-- Calling GoogleAuth Api from AuthService -->
       <!-- <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Log in with Google
          </button>
        </div>
      -->

    <br><br><br><br>
        <div class="forgotPassword">
          <b><span routerLink="/forgot-password">Forgot Password?</span></b>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Don't have an account?<b><span class="redirect" routerLink="/register-user"> Sign Up</span></b></span>
      </div>
  
    </div>
    <br><br><br><br><br>
  </div>
  
</body>