<mat-toolbar color="primary">
    <span><h1>{{moviename}}</h1></span>
    <button mat-button (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 6">Six Columns</span>
    <span *ngIf="gridColumns === 5">Five Columns</span>
  </button>
</mat-toolbar>
<div class="content">
    <div class="center">
        <img src={{movieurl}} alt="img Poster" />
        <p></p>
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let reviews of moviereviews">
                <mat-card class="mat-elevation-z4" style="text-align: center;">
                    <mat-card-header>
                        <mat-card-title>{{reviews["comments"]}}</mat-card-title>
                        <mat-card-subtitle>{{reviews["username"]}}</mat-card-subtitle>
                    </mat-card-header>
                    <div style="font-size: xx-large; color: orange;">
                        <ngb-rating [max]="5" [rate]="reviews['ratings']" [readonly]="false"></ngb-rating>
                    </div>
                    <mat-card-content>Ratings : {{reviews["ratings"]}}</mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <p></p>
    <div class="center">
        <form class="form-group" (ngSubmit)="onSubmit()">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="username" name="name" disabled>
            <label for="comment">Comment</label>
            <textarea type="text" class="form-control" id="comment" required [(ngModel)]="usercomment" name="comment"></textarea>
            <label for="Ratings">Ratings</label>
            <div style="font-size: xx-large; color: orange;">
                <ngb-rating [max]="5" [(rate)]="rating" [readonly]="false"></ngb-rating>
            </div>
            <br>
            <button class="button button2" type="submit">Submit Review</button>
        </form>
    </div>
</div>