.grid-container {
    display: flex;
}

.example-card {
    max-width: 500px;
}

.content {
    padding: 16px;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}